body {
  background-color: lightblue;
}

h3 {
  background-color: cadetblue;
  margin-left: 20px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;

}

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}
th, td {
  background-color: #96D4D4;
}

table, th, td {
  border: 1px solid black;
  border-radius: 10px;
}

th, td {
  border: 1px solid black;
  border-radius: 10px;
}

/* There are also border styles, 
I can make the border dotted, dashed, solid,
double, etc. by using certain values */

body {
  background-image: linear-gradient(to bottom, black, pink);
}